    /*------------------------------*\
        Reset
    \*------------------------------*/


    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
    }


    html {
      line-height: 1;
    }

    ol,
    ul {
      list-style: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    caption,
    th,
    td {
      text-align: left;
      font-weight: normal;
      vertical-align: middle;
    }

    q,
    blockquote {
      quotes: none;
    }

    q:before,
    q:after,
    blockquote:before,
    blockquote:after {
      content: "";
      content: none;
    }

    a img {
      border: none;
    }

    img {
      width: 100%;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    summary {
      display: block;
    }

    * html {
      font-size: 100%;
    }

    html {
      font-size: 16px;
      line-height: 1.625em;
      font-family: Roboto, sans-serif;
    }

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    h1 {
      font-size: 2.25em;
      line-height: 115%;
      margin: 0.25em;
    }

    h2 {
      font-size: 1.5em;
      margin: 0.25em;
    }

    ul.nav {
      padding: 1.55em 0;
    }

    ul.nav li {
      display: inline-block;
      padding: 0 0.5em;
    }


    /*------------------------------*\
        Framework
    \*------------------------------*/

    .row,
    .column {
      box-sizing: border-box;
    }

    .row:before,
    .row:after {
      content: " ";
      display: table;
    }

    .row:after {
      clear: both;
    }

    .column {
      position: relative;
      float: left;
      display: block;
    }

    .column+.column {
      margin-left: 1.6%;
    }


    .column-1 {
      width: 6.86666666667%;
    }

    .column-2 {
      width: 15.3333333333%;
    }

    .column-3 {
      width: 23.8%;
    }

    .column-4 {
      width: 32.2666666667%;
    }

    .column-5 {
      width: 40.7333333333%;
    }

    .column-6 {
      width: 49.2%;
    }

    .column-7 {
      width: 57.6666666667%;
    }

    .column-8 {
      width: 66.1333333333%;
    }

    .column-9 {
      width: 74.6%;
    }

    .column-10 {
      width: 83.0666666667%;
    }

    .column-11 {
      width: 91.5333333333%;
    }

    .column-12 {
      width: 100%;
    }




    @media only screen and (max-width: 900px) {

      .column-1,
      .column-2,
      .column-3,
      .column-4,
      .column-5,
      .column-6,
      .column-7,
      .column-8,
      .column-9,
      .column-10,
      .column-11,
      .column-12 {
        width: auto;
        float: none;
      }

      .column+.column {
        margin-left: 0;
      }
    }




    /*------------------------------*\
        Styling
    \*------------------------------*/


    body {
      padding: 20px;
    }

    .column {
      background: #ffffff;
      border: 1px solid #eeeeee;
      border-radius: 4px;
      color: #464646;
      padding: 5px;
      min-height: 30px;
      text-align: center;
    }

    .row {
      margin-bottom: 10px;
    }

    .row:last-child {
      margin-bottom: 1em;
    }

    .column .column {
      color: #ffffff;
      background: #464646;
      border-color: #000000;
    }

    p.text-center {
      font-size: 14px;
      text-align: center;
    }

    p {
      max-width: 600px;
      margin: 0 auto;
      padding: 10px 30px;
      font-size: 1.2em;
      line-height: 120%;
      text-align: left;
      color: #464646;
    }

    span.opener {
      font-weight: bold;
      font-size: 150%;
      display: inline-block;
      padding-top: 15px;
    }

    a i {
      font-size: 32px !important;
      margin: 10px;
    }

    img {
      margin: 0.5em auto 0 auto;
      height: auto;
    }


    .breadcrumbs ol {
      margin-left: 0;
      padding-left: 0;
      color: #000000;
      background-color: #ffffff;
      text-align: left;
    }

    .breadcrumbs li {
      display: inline;
      font-size: 80%
    }

    .breadcrumbs li:before {
      content: "\3E";
      font-size: 70%;
      padding-left: .382em;
      padding-right: .618em;
      vertical-align: middle;
      font-weight: normal;
    }

    .breadcrumbs li:first-of-type:before {
      content: " "
    }

    [aria-current] {
      font-weight: bold;
      text-decoration: none;
      vertical-align: -1px;
    }

    @media only screen and (max-width: 550px) {
      .row {
        margin-bottom: 0;
      }

      .column {
        margin-bottom: 10px;
      }

      .row:last-child .column:last-child {
        margin-bottom: 0;
      }
    }

    /*------------------------------*\
        Accessibility Styles
    \*------------------------------*/

    /*Hidden from the eye, but accessible for screen-readers */
    .readable {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip-path: rect(0, 0, 0, 0);
      border: 0;
    }

    a {
      color: inherit;
      min-height: 44px;
      min-width: 44px;

    }

    a:hover {
      text-decoration: none;
      border-bottom: 2px solid #ff0000;
    }

    /* NEVER EVER disable focus */
    a:focus {
      outline-color: #ff0000;
    }

    .basic {
      display: block;
      position: absolute;
      top: -1000px;
      left: -1000px;
      z-index: 5;
    }

    .basic:focus {
      top: 0;
      left: 0;
    }

    .header__skip {
      background: #ff0000;
      color: #ffffff;
      display: block;
      font-weight: bold;
      height: 50px;
      line-height: 40px;
      margin-top: -80px;
      overflow: hidden;
      padding: 5px 0;
      position: relative;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      -webkit-transition: margin-top 0.2s ease-in-out;
      transition: margin-top 0.2s ease-in-out;
    }

    .header__skip:focus {
      color: #ffffff;
      margin-top: 0;
    }

    .skip-nav-link {
      position: absolute;
      top: 0;
      left: -10000px;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }

    .skip-nav-link:focus {
      height: 20px;
      width: 200px;
      outline-color: #0000ff;
      position: absolute;
      top: 1px;
      left: 50%;
      margin-left: -100px;
      z-index: 100;
      text-align: center;
      background: #ffffff;
    }

    /*------------------------------*\
        Accessible Tabs
    \*------------------------------*/

    ul#tabs {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      margin: 1.5em 0 0 0;
      padding: 0;
    }

    ul#tabs li {
      display: inline;
    }

    ul#tabs li:last-child {
      margin-right: 0;
    }

    ul#tabs li a {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-right: 4px;
      padding: 12px;
      font-size: 1.2em;
      color: #ffffff;
      background-color: #6a6a6a;
      text-align: center;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
      text-decoration: none;
    }

    ul#tabs li a.selected {
      color: #464646;
      background-color: #eeeeee;
      border-bottom: 2px solid #eeeeee;
    }


    ul#tabs li a:hover,
    ul#tabs li a:focus {
      color: #eeeeee;
      border-bottom: 2px solid #ff0000;
    }

    ul#tabs li a.selected:hover,
    ul#tabs li a.selected:focus {
      color: #464646;
      border-bottom: 2px solid #464646;
    }


    .tabcontent {
      margin-top: 0.45em;
      display: block;
      padding: 1em;
      background-color: #eeeeee;
    }

    .tabcontent fieldset {
      background-color: #ffffff;
    }

    .tabcontent fieldset legend {
      padding: 0;
    }

    .tabcontent fieldset h3 {
      margin: 0;
      padding: 0.3em 1em;
      background-color: #ffffff;
      border: 2px solid #6a6a6a;
    }

    .hidden {
      display: none;
    }